@model BookMarked.Models.Comment.CommentCreate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a Comment</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="padding-bottom:20px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="OwnerId" class="control-label"></label>
                <input type="hidden" asp-for="OwnerId" class="form-control" value="@ViewData["OwnerRef"]"/>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="ReviewId" class="control-label"></label>
                <input type="hidden" asp-for="ReviewId" class="form-control" />
                <span asp-validation-for="ReviewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label"></label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

