@model BookMarked.Models.Comment.CommentEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit a Comment</h1>

<hr />
<div class="row center-screen">
    <div class="col-md-4" style="padding-bottom:20px,">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="CommentId" class="control-label"></label>
                <input asp-for="CommentId" class="form-control" />
                <span asp-validation-for="CommentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label"></label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

