@model BookMarked.Models.Rating.RatingCreate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a New Rating! </h1>

<hr />
<div class="row center-screen">
    <div class="col-md-4" style="padding-bottom:20px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group", style="visibility:hidden">
                <label asp-for="OwnerId" class="control-label"></label>
                <input type="hidden" asp-for="OwnerId" class="form-control" value="@ViewData["OwnerRef"]" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility:hidden">
                <label asp-for="VolumeId" class="control-label"></label>
                <input type="hidden" asp-for="VolumeId" class="form-control" />
                <span asp-validation-for="VolumeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeTitle" class="control-label"></label>
                <input asp-for="VolumeTitle" class="form-control" value="@ViewData["VolumeTitleRef"]"/>
                <span asp-validation-for="VolumeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRead" class="control-label"></label>
                <input asp-for="DateRead" class="form-control" />
                <span asp-validation-for="DateRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

