@model BookMarked.Models.Rating.RatingEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit a Rating</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="padding-bottom:20px" >
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="visibility:hidden" >
                <label asp-for="RatingId" class="control-label"></label>
                <input type="hidden" asp-for="RatingId" class="form-control" />
                <span asp-validation-for="RatingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRead" class="control-label"></label>
                <input asp-for="DateRead" class="form-control" />
                <span asp-validation-for="DateRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

